.eighth-section {
  .photos-container {
    margin: 0;
  }
  .photo-card {
    background-size: cover;
    background-position: center;
    height: 338px;
    margin-bottom: 3rem;
    cursor: zoom-in;
  }
}