.fifth-section {
  @include media-breakpoint-up(md) {
    .work-card {
      margin: 4rem 0;
      max-width: 250px;
    }
  }
  .slider-content {
    min-height: 270px;
    @include media-breakpoint-down(md) {
      min-height: 200px;
    }
  }
  .work-card {
    margin: 3.5rem 0;
  }
}