.fourth-section {
  .container {
    overflow: visible;
  }
  .col-md-4 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(md) {
      max-height: 255px;
    }
  }
  .service-card {
    margin: 1.5rem -30px;
    position: relative;
    z-index:1;
    padding: 40px 30px;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
    transition: border 150ms, box-shadow 150ms;
    .icon {
      margin-bottom: 3rem;
    }
    button {
      display: none;
    }
    @include media-breakpoint-up(md) {
      max-width: 360px;
      &:hover, &.hover {
        z-index:2;
        border: 1px solid $blue-secondary;
        background: $white;
        box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.07);
        button {
          display: block;
        }
      }
    }
  }
}