.second-section {
  h2 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  .digit-container {
    border-left: 1px solid $gray-secondary;
    padding: 0 1.5rem;
    @include media-breakpoint-down(sm) {
      margin-left: 1rem;
    }
  }
  .digit {
    color: $main-color;
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 4.8rem;
    margin: 0 1.5rem;
    white-space: nowrap;
  }
  .icon {
    color: $blue-secondary;
  }
  .about-card {
    @include media-breakpoint-up(md) {
      p {
        max-width: 300px;
      }
    }
  }
  @include media-breakpoint-only(lg) {
    .digit-container {
      padding-left: 0;
    }
  }
  @include media-breakpoint-only(md) {
    .section-title {
      flex-basis: 100%;
    }
    .digit-container:nth-of-type(2) {
      border-left: none;
      padding-left: 0;
      .digit {
        margin-left: 0;
      }
    }
    .digit-container:nth-of-type(4) {
      padding-right: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    .section-body {
      max-width: 280px;
    }
  }
}