.text-uppercase {
  text-transform: uppercase;
}
.pad-this-y {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pad-this-2y {
  padding-top: 100px;
  padding-bottom: 100px;
}
.font-bigger {
  font-size: 1.6rem;
}
.fadein-left {
  animation: fadein-left 200ms ease-in forwards;
}
.fadein-right {
  animation: fadein-right 200ms ease-in forwards;
}
.fadeout-left {
  animation: fadeout-left 200ms ease-out forwards;
}
.fadeout-right {
  animation: fadeout-right 200ms ease-out forwards;
}
.mh-100vh {
  min-height: 100vh;
}
.top-line {
  height: 3px;
  width: 52px;
  background: $blue-secondary;
  margin-bottom: 20px;
}
.icon {
  font-size: 6.4rem;
  line-height: 6.4rem;
}
.spin-me {
  animation: spin-me infinite 800ms ease-in-out both;
}