//Font - regular (400)
@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'),
  url($path-font-main + '/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//OpenSans - Bold (700)
@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans Bold'),
  url($path-font-main + '/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
//OpenSans - ExtraBold (800)
@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans ExtraBold'),
  url($path-font-main + '/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
//PFDinTextCompPro - Medium(500)
@font-face {
  font-family: 'PFDinTextCompPro';
  src: url($path-fonts + '/PFDinTextCompPro/PFDinTextCompPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url($path-fonts + '/icomoon/icomoon.eot?1jcwml');
  src:  url($path-fonts + '/icomoon/icomoon.eot?1jcwml#iefix') format('embedded-opentype'),
  url($path-fonts + '/icomoon/icomoon.ttf?1jcwml') format('truetype'),
  url($path-fonts + '/icomoon/icomoon.woff?1jcwml') format('woff'),
  url($path-fonts + '/icomoon/icomoon.svg?1jcwml#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import "../../fonts/icomoon/icomoon";