.btn {
  border-radius: 0;
  min-height: 45px;
  min-width: 200px;
  font-size: 1.6rem;
  &.btn-primary {
    background: none;
    border-color: $white;
    transition: 150ms;
  }
  &.btn-primary-blue {
    background: none;
    border-color: $blue-secondary;
    color: $blue-secondary;
    transition: 150ms;
  }
  &.btn-secondary {
    background: $main-color;
    border-color: $main-color;
    color: $white;
  }
  &.btn-primary:not(:disabled):hover, &.btn-primary:not(:disabled).hover {
    background: $white;
    border-color: $white;
    color: $black;
  }
  &.btn-primary:not(:disabled):active, &.btn-primary:not(:disabled).active, & .show > .btn-primary.dropdown-toggle {
    background-color: $main-color;
    border-color: $main-color;
    color: $white;
  }
  &.btn-primary-blue:not(:disabled):hover, &.btn-primary-blue:not(:disabled).hover {
    background: $blue-secondary;
    border-color: $blue-secondary;
    color: $white;
  }
  &.btn-secondary:not(:disabled):not(.disabled):active, &.btn-secondary:not(:disabled):not(.disabled).active, & .show > .btn-secondary.dropdown-toggle {
    background-color: $main-color - #040404;
    border-color: $main-color - #040404;
  }
}
.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba($main-color, 0.25);
  box-shadow: 0 0 0 0.2rem rgba($main-color, 0.25);
}
.btn-primary:focus, .btn-primary.focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba($main-color, 0.5);
  box-shadow: 0 0 0 0.2rem rgba($main-color, 0.5);
}
.btn-secondary:focus, .btn-secondary.focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba($white, 0.5);
  box-shadow: 0 0 0 0.2rem rgba($white, 0.5);
}